    
ul.single_line {
overflow: hidden;
}

li.single_line {
float: left;
width: 50%;
}

.intro 
{    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.b 
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15%;
    margin-left: 15%;

}

.header
{
    background-image:url("https://t3.ftcdn.net/jpg/03/02/38/86/360_F_302388644_QPemZvlRbWZfgh31aKbIEolLIbtrXhPn.jpg");
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15%;
    margin-left: 15%;
} 

.designation
{
    background-color: white;
}

h1,
h3 {
    color: black;
    background-color: #bebebe;
}
 
hr {
    position: relative;
    top: 1px;
    border: none;
    height: 6px;
    width: 70%;
    background: black;
    margin-bottom: 1px;
}

#container
{
    float: left;
}

#singledout
{
    background-color: gray;
}

